@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
  /* --- CAMBIO DE FONDO --- */
  /* Color: Slate 100 - Un "blanco apagado" o gris muy suave */
  background-color: #F1F5F9; 
  /* ----------------------- */
  
  color: #1e293b; /* Texto base Slate-800 para buena lectura */
}

/* Opcional: Para asegurar que el scroll sea suave en toda la app */
html {
  scroll-behavior: smooth;
}